In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [3]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score,classification_report

In [4]:
df=pd.read_csv("bank.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [5]:
df['deposit'].value_counts()

0    5873
1    5289
Name: deposit, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  int64
 2   marital    11162 non-null  int64
 3   education  11162 non-null  int64
 4   default    11162 non-null  int64
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  int64
 7   loan       11162 non-null  int64
 8   contact    11162 non-null  int64
 9   day        11162 non-null  int64
 10  month      11162 non-null  int64
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  int64
 16  deposit    11162 non-null  int64
dtypes: int64(17)
memory usage: 1.4 MB

In [7]:
x=df.iloc[0:,0:-1]
x

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,2,0,0,1,1,0,0,20,0,257,1,-1,0,3
11158,39,7,1,1,0,733,0,0,2,16,6,83,4,-1,0,3
11159,32,9,2,1,0,29,0,0,0,19,1,156,2,-1,0,3
11160,43,9,1,1,0,0,0,1,0,8,8,9,2,172,5,0
11161,34,9,1,1,0,0,0,0,0,9,5,628,1,-1,0,3

In [8]:
y=df['deposit']
y

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

In [9]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=1)

In [10]:
xtrain

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
2506,74,5,1,0,0,0,0,0,1,13,1,562,2,-1,0,3
368,55,1,1,1,0,49,1,0,0,7,5,494,4,-1,0,3
2827,57,9,1,1,0,254,0,0,0,27,10,207,1,-1,0,3
9197,37,0,0,1,0,3975,1,0,0,11,8,163,2,-1,0,3
9910,56,4,2,2,0,6507,1,1,0,29,4,134,1,196,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7813,26,9,1,1,0,744,0,0,0,15,0,609,1,-1,0,3
10955,39,9,1,1,0,-1451,1,1,0,30,5,65,5,-1,0,3
905,27,2,1,1,0,2329,0,0,1,27,10,131,1,-1,0,3
5192,41,0,2,1,0,985,1,0,0,30,6,274,2,391,11,2
235,36,1,1,0,0,403,1,0,2,4,6,920,1,-1,0,3

In [11]:
logreg=LogisticRegression()
knn=KNeighborsClassifier()
dt=DecisionTreeClassifier()
svm=SVC

In [12]:
def mymodel(model):
    model.fit(xtrain,ytrain)
    ypred=model.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    cr=classification_report(ytest,ypred)
    print(f"accuracy -: {ac}\n classification report\n {cr}")

In [13]:
mymodel(logreg)

accuracy -: 0.7659002687369364
 classification report
               precision    recall  f1-score   support

           0       0.77      0.80      0.78      1760
           1       0.76      0.73      0.75      1589

    accuracy                           0.77      3349
   macro avg       0.77      0.76      0.76      3349
weighted avg       0.77      0.77      0.77      3349

In [14]:
mymodel(knn)

accuracy -: 0.7539564048969841
 classification report
               precision    recall  f1-score   support

           0       0.76      0.78      0.77      1760
           1       0.75      0.72      0.74      1589

    accuracy                           0.75      3349
   macro avg       0.75      0.75      0.75      3349
weighted avg       0.75      0.75      0.75      3349

In [15]:
mymodel(dt)

accuracy -: 0.7844132576888624
 classification report
               precision    recall  f1-score   support

           0       0.79      0.80      0.80      1760
           1       0.78      0.76      0.77      1589

    accuracy                           0.78      3349
   macro avg       0.78      0.78      0.78      3349
weighted avg       0.78      0.78      0.78      3349

In [16]:
 dt.score(xtrain,ytrain)

1.0

In [17]:
dt.score(xtest,ytest)

0.7844132576888624

In [18]:
for i in range(1,30):
    dt1=DecisionTreeClassifier(max_depth=i)
    dt1.fit(xtrain,ytrain)
    ypred=dt1.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    print(f"max depth ={i} accuracy={ac}")

max depth =1 accuracy=0.7121528814571514
max depth =2 accuracy=0.7121528814571514
max depth =3 accuracy=0.771275007464915
max depth =4 accuracy=0.78501045088086
max depth =5 accuracy=0.7993430874888027
max depth =6 accuracy=0.8011346670647954
max depth =7 accuracy=0.8166616900567334
max depth =8 accuracy=0.8175574798447298
max depth =9 accuracy=0.8106897581367573
max depth =10 accuracy=0.8178560764407286
max depth =11 accuracy=0.8145715138847417
max depth =12 accuracy=0.8154673036727381
max depth =13 accuracy=0.8088981785607644
max depth =14 accuracy=0.8023290534487907
max depth =15 accuracy=0.792773962376829
max depth =16 accuracy=0.7924753657808301
max depth =17 accuracy=0.7924753657808301
max depth =18 accuracy=0.7930725589728277
max depth =19 accuracy=0.7891908032248433
max depth =20 accuracy=0.7841146610928635
max depth =21 accuracy=0.7829202747088683
max depth =22 accuracy=0.787996416840848
max depth =23 accuracy=0.7900865930128397
max depth =24 accuracy=0.7868020304568528
max depth =25 accuracy=0.786503433860854
max depth =26 accuracy=0.7832188713048671
max depth =27 accuracy=0.7808300985368767
max depth =28 accuracy=0.7924753657808301
max depth =29 accuracy=0.7853090474768588

In [19]:
dt2=DecisionTreeClassifier(max_depth=8)
mymodel(dt2)

accuracy -: 0.820244849208719
 classification report
               precision    recall  f1-score   support

           0       0.83      0.83      0.83      1760
           1       0.81      0.80      0.81      1589

    accuracy                           0.82      3349
   macro avg       0.82      0.82      0.82      3349
weighted avg       0.82      0.82      0.82      3349

In [20]:
dt2.score(xtrain,ytrain)

0.8627927812619992

In [21]:
dt2.score(xtest,ytest)

0.820244849208719

In [22]:
for i in range(2,50):
    dt3=DecisionTreeClassifier(min_samples_split=i)
    dt3.fit(xtrain,ytrain)
    ypred=dt3.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    print(f"min sample split ={i} accuracy={ac}")

min sample split =2 accuracy=0.7873992236488504
min sample split =3 accuracy=0.7841146610928635
min sample split =4 accuracy=0.7856076440728575
min sample split =5 accuracy=0.7868020304568528
min sample split =6 accuracy=0.7912809793968348
min sample split =7 accuracy=0.7891908032248433
min sample split =8 accuracy=0.794266945356823
min sample split =9 accuracy=0.7915795759928337
min sample split =10 accuracy=0.797252911316811
min sample split =11 accuracy=0.7888922066288444
min sample split =12 accuracy=0.7894893998208421
min sample split =13 accuracy=0.7918781725888325
min sample split =14 accuracy=0.7897879964168408
min sample split =15 accuracy=0.7945655419528217
min sample split =16 accuracy=0.8017318602567931
min sample split =17 accuracy=0.7978501045088086
min sample split =18 accuracy=0.806509405792774
min sample split =19 accuracy=0.8059122126007764
min sample split =20 accuracy=0.8088981785607644
min sample split =21 accuracy=0.8106897581367573
min sample split =22 accuracy=0.8136757240967453
min sample split =23 accuracy=0.8127799343087488
min sample split =24 accuracy=0.8121827411167513
min sample split =25 accuracy=0.815765900268737
min sample split =26 accuracy=0.8127799343087488
min sample split =27 accuracy=0.8148701104807405
min sample split =28 accuracy=0.815765900268737
min sample split =29 accuracy=0.8145715138847417
min sample split =30 accuracy=0.8181546730367274
min sample split =31 accuracy=0.820244849208719
min sample split =32 accuracy=0.8199462526127202
min sample split =33 accuracy=0.8220364287847118
min sample split =34 accuracy=0.8217378321887131
min sample split =35 accuracy=0.8220364287847118
min sample split =36 accuracy=0.8238280083607047
min sample split =37 accuracy=0.8238280083607047
min sample split =38 accuracy=0.8253209913406987
min sample split =39 accuracy=0.8232308151687071
min sample split =40 accuracy=0.8262167811286951
min sample split =41 accuracy=0.8259181845326963
min sample split =42 accuracy=0.8259181845326963
min sample split =43 accuracy=0.8256195879366975
min sample split =44 accuracy=0.826515377724694
min sample split =45 accuracy=0.8259181845326963
min sample split =46 accuracy=0.8253209913406987
min sample split =47 accuracy=0.828008360704688
min sample split =48 accuracy=0.8268139743206927
min sample split =49 accuracy=0.8277097641086891

In [23]:
dt3=DecisionTreeClassifier(min_samples_split=47)
mymodel(dt3)

accuracy -: 0.8274111675126904
 classification report
               precision    recall  f1-score   support

           0       0.86      0.80      0.83      1760
           1       0.80      0.86      0.82      1589

    accuracy                           0.83      3349
   macro avg       0.83      0.83      0.83      3349
weighted avg       0.83      0.83      0.83      3349

In [24]:
dt3.score(xtrain,ytrain)

0.8754639703059004

In [25]:
dt3.score(xtest,ytest)

0.8274111675126904

In [26]:
for i in range(1,51):
    dt5=DecisionTreeClassifier(min_samples_leaf=i)
    dt5.fit(xtrain,ytrain)
    ypred=dt5.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    print(f"min sample leaf ={i} accuracy={ac}")

min sample leaf =1 accuracy=0.7915795759928337
min sample leaf =2 accuracy=0.7730665870409077
min sample leaf =3 accuracy=0.7897879964168408
min sample leaf =4 accuracy=0.7906837862048373
min sample leaf =5 accuracy=0.7897879964168408
min sample leaf =6 accuracy=0.794266945356823
min sample leaf =7 accuracy=0.8068080023887728
min sample leaf =8 accuracy=0.8106897581367573
min sample leaf =9 accuracy=0.8112869513287548
min sample leaf =10 accuracy=0.8133771275007465
min sample leaf =11 accuracy=0.8124813377127501
min sample leaf =12 accuracy=0.8148701104807405
min sample leaf =13 accuracy=0.8139743206927441
min sample leaf =14 accuracy=0.8127799343087488
min sample leaf =15 accuracy=0.815765900268737
min sample leaf =16 accuracy=0.8220364287847118
min sample leaf =17 accuracy=0.8238280083607047
min sample leaf =18 accuracy=0.818751866228725
min sample leaf =19 accuracy=0.8244252015527023
min sample leaf =20 accuracy=0.8283069573006868
min sample leaf =21 accuracy=0.826515377724694
min sample leaf =22 accuracy=0.8274111675126904
min sample leaf =23 accuracy=0.8292027470886831
min sample leaf =24 accuracy=0.8286055538966856
min sample leaf =25 accuracy=0.8277097641086891
min sample leaf =26 accuracy=0.8262167811286951
min sample leaf =27 accuracy=0.8262167811286951
min sample leaf =28 accuracy=0.8256195879366975
min sample leaf =29 accuracy=0.8274111675126904
min sample leaf =30 accuracy=0.8238280083607047
min sample leaf =31 accuracy=0.8262167811286951
min sample leaf =32 accuracy=0.8262167811286951
min sample leaf =33 accuracy=0.8250223947447
min sample leaf =34 accuracy=0.826515377724694
min sample leaf =35 accuracy=0.8253209913406987
min sample leaf =36 accuracy=0.8253209913406987
min sample leaf =37 accuracy=0.8259181845326963
min sample leaf =38 accuracy=0.8256195879366975
min sample leaf =39 accuracy=0.8283069573006868
min sample leaf =40 accuracy=0.8259181845326963
min sample leaf =41 accuracy=0.829501343684682
min sample leaf =42 accuracy=0.8286055538966856
min sample leaf =43 accuracy=0.8289041504926844
min sample leaf =44 accuracy=0.8253209913406987
min sample leaf =45 accuracy=0.8253209913406987
min sample leaf =46 accuracy=0.8253209913406987
min sample leaf =47 accuracy=0.8253209913406987
min sample leaf =48 accuracy=0.8253209913406987
min sample leaf =49 accuracy=0.8253209913406987
min sample leaf =50 accuracy=0.8250223947447

In [30]:
dt6=DecisionTreeClassifier(min_samples_split=47)
mymodel(dt6)

accuracy -: 0.8274111675126904
 classification report
               precision    recall  f1-score   support

           0       0.86      0.80      0.83      1760
           1       0.80      0.86      0.82      1589

    accuracy                           0.83      3349
   macro avg       0.83      0.83      0.83      3349
weighted avg       0.83      0.83      0.83      3349

In [31]:
dt6.score(xtest,ytest)

0.8274111675126904